body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    text-align: center;
    margin: 0 auto;
}

.welcome {
    text-align: center;
}

.account a, .comment-links a {
    text-decoration: none;
}

.account {
    text-align: right;
    margin-top: -5px;
}

.signlog-link {
    margin-top: 5px;
}

.signlog-link a {
    text-decoration: none;
}

.logged-1, .logged-2 {
    color: #007acc;
}

.logged-1:hover, .logged-2:hover {
    color: #002e4d;
}

.blue-title {
    color: #007acc;
}

.red-title {
    color: red;
}

.submit {
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 15px;
    background-color: #007acc;
}

.submit:hover {
    cursor: pointer;
    background-color: #005c99;
}

.error {
    text-align: center;
    padding: 5px;
    color: red;
    font-weight: bold;
}

.cancel-link {
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.cancel-link p {
    text-decoration: none;
    text-align: center;
    margin-top: 3px;
    text-align: center;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 15px;
    background-color: red;
    text-align: center;
}

.cancel-link p:hover {
    background-color: #cc0000;
}

.comments {
    margin-top: 35px;
}

.comment-field {
    width: 50%;
    height: 75px;
    margin-bottom: 8px;
}

.ind-comment {
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 100px;
}

.comment-details {
    margin-left: 5px;
}

.comment-links {
    margin-left: 5px;
    text-align: right;
}

.comment-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.user-welcome {
    margin-top: -30px;
    text-align: left;
    float: left;
}

form {
    text-align: center;
    text-decoration: none;
}

form table {
    margin-bottom: 10px;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    font-family: monospace;
}

input[type=text], input[type=password] {
    width: 150px;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

.like-btn {
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 15px;
    background-color: #007acc;
    color: white;
    position: absolute;
    left: 0px;
}

.like-btn:hover {
    cursor: pointer;
    background-color: #005c99;
}

.like-users {
    text-align: center;
    color: #999;
}

.post-error {
    color: red;
    font-weight: bold;
    position: absolute;
    left: 100px;
    top: -14px;
}

input[type="button"] {
    margin: 10px 0 10px 0;
    font-size: 16px;
    background-color: #008000;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

.main-wrap {
    text-align: center;
}

.main-title {
    color: #222;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 25px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #007acc;
}

.post-title {
    color: black ;
    font-size: 24px;
    font-weight: bold;
}

.post-title a {
    text-decoration: none;
    color: black;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin: 5px 10px;
}

.post-footer {
    position: relative;
}

.post-links {
    margin-top: 10px;
}

.post-text {
    margin-bottom: 10px;
}

.ced-links {
    position: absolute;
    right: 0px;
}

.ced-links a {
    text-decoration: none;
}

.ind-comment {
    background-color: #e6e6e6;
}

.delete-link {
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 15px;
    background-color: red;
}

.edit-link, .comment-link {
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 15px;
    background-color: #007acc;
}

.comment-link:hover, .edit-link:hover {
    background-color: #005c99;
}

.delete-link:hover {
    background-color: #cc0000;
}

.st {
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete-post {
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px 5px;
}

.delete-message {
    font-weight: bold;
    color: red;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dcomplete {
    text-align: center;
}

.dcomplete a {
    text-decoration: none;
}