<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Hayden's Blog</title>
</head>

<body>
	{% if user %}	
		<p class="account">
			<a href="/new" class="logged-1">New Post</a> | <a href="/logout" class="logged-2">Logout</a>
			<p class="user-welcome">Welcome, {{user.name}}</p>
		</p>
	{% else %}
		<p class="account">
			<a href="/signup" class="logged-1">Signup</a> | <a href="/login" class="logged-2">Login</a></a>
		</p>
	{% endif %}

	<div class="main-wrap">
		<a href="/" class="main-title">
  		Hayden's Blog
		</a>
	</div>

	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>

