{% extends "base.html" %}

{% block content %}
	<h2 class="red-title">Delete {{title}}</h2>

	<div class="delete-post">
		<div class="post-heading">
			<div class="post-title">
				{{subject}}
			</div>

			<div class="post-date">
      			{{post.created.strftime("%m/%d/%y")}}
    		</div>
		</div>

		<div class="post-content">{{content}}</div>
	</div>
	
	<div class="delete-message">{{message}}</div>

	<form method="post">
		<input type="submit" value="Confirm" class="submit">
	</form>

	<a href="/post/{{post_id}}" class="cancel-link"><p>Cancel</p></a>

{% endblock %}