{% extends "base.html" %}

{% block content %}
    <h2 class="blue-title">{{title}}</h2>

    <form method="post">
      <label>
        <div><b>Subject</b></div>
        <input type="text" class="post-text" name="subject" value="{{subject}}" style="width: 75%;">
      </label>

      <label>
        <div><b>Content</b></div>
        <textarea name="content" class="post-text">{{content}}</textarea>
      </label>

      <input type="submit" class="submit">
    </form>

    {% if edit %}
      <a href="/post/{{post_id}}" class="cancel-link"><p>Cancel</p></a>
    {% else %}
      <a href="/" class="cancel-link"><p>Cancel</p></a>
    {% endif %}

    <div class="error">{{error}}</div>
    
{% endblock %}
