{% extends "base.html" %}

{% block content %}
  <h2>New Post</h2>

    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}" style="width: 75%;">
      </label>

      <label>
        <div>Post</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" class="new-post-submit">
    </form>

    <a href="/" style="text-decoration: none;">
    	<button class="cancel-btn">Cancel</button>
    </a>
    
{% endblock %}
