{% extends "base.html" %}

{% block content %}
    <h2>{{title}}</h2>

    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}" style="width: 75%;">
      </label>

      <label>
        <div>Post</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit" class="new-post-submit">
    </form>

    <a href="/"><p class="cancel-link">Cancel</p></a>
    
{% endblock %}
