{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  <br><br>

  {% for comment in comments %}
    <div class="ind-comment">
      <p class="comment-content">{{comment.content}}</p>
      <p class="comment-author">- by <i>{{comment.author.name}}</i></p>
      <div class="comment-links">
      	<a href="/comment/{{post.key().id()}}/edit/{{comment.key().id()}}/">Edit</a>
      	<a href="/comment/{{post.key().id()}}/delete/{{comment.key().id()}}/">Delete</a>
      </div>
    </div>
  {% endfor %}

{% endblock %}