{% extends "base.html" %}

{% block content %}
<div class="post">
  <div class="post-heading">    
    <div class="post-title">
      {{post.subject}}
    </div>

    <div class="post-date">
      {{post.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{post.content | safe}}
  </div>

  <div class="post-footer">
    <p class="post-error">{{error}}</p>
      <div class="post-links">
        <form method="post">
          <input type="submit" class="like-btn" value="{{status}}">
        </form>

        <div class="ced-links">
          <a href="/comment/{{post.key().id()}}" class="comment-link">Comment</a>

          <a href="/edit/{{post.key().id()}}" class="edit-link">Edit</a>

          <a href="/delete/{{post.key().id()}}" class="delete-link">Delete</a>
        </div>
      </div>
  </div>
</div>

<br><br>
  <!-- <div class="like-users">
    
  </div> -->

  <h2 class="blue-title">{{comm}}</h2>

  {% for comment in comments %}
  <div class="ind-comment">

    <i class="comment-details"><b>{{comment.author.name}}</b>: {{comment.content}}</i>

    <div class="comment-links">
      <a href="/comment/{{post.key().id()}}/edit/{{comment.key().id()}}/" class="logged-1">Edit</a>
      <a href="/comment/{{post.key().id()}}/delete/{{comment.key().id()}}/" class="logged-1">Delete</a>
    </div>
  </div>
{% endfor %}
{% endblock %}