{% extends "base.html" %}

{% block content %}
<div class="post">
  <div class="post-heading">    
    <div class="post-title">
      {{post.subject}}
    </div>

    <div class="post-date">
      {{post.created.strftime("%m/%d/%y")}}
    </div>
  </div>

  <div class="post-content">
    {{post.content | safe}}
    <br>
  </div>

  <div class="post-footer">
      <div class="post-links">
        <form method="post">
          <div class="like-div">
            <input type="submit" class="like-btn largefont" value="{{status}}">
            <div class="like-value largefont">{{value}}</div>
          </div>
        </form>

        <div class="ced-links">
          <a href="/comment/{{post.key().id()}}" class="comment-link largefont">&#128172;</a>

          <a href="/edit/{{post.key().id()}}" class="edit-link largefont">&#128393;</a>

          <a href="/delete/{{post.key().id()}}" class="delete-link largefont">&#10008;</a>
        </div>
      </div>
  </div>
</div>

<br><br>

  <h2 class="blue-title">Comments</h2>

{% for comment in comments %}
  <div class="ind-comment">

    <i class="comment-details"><b>{{comment.author.name}}</b>: {{comment.content}}</i>

    <div class="comment-links">
      <a href="/comment/edit/{{comment.key().id()}}" class="largefont">&#128393;</a>
      <a href="/comment/delete/{{comment.key().id()}}" class="largefont">&#10008;</a>
    </div>
  </div>
{% endfor %}
{% endblock %}