<div class="post">
  <div class="post-heading">    
    <div class="post-title">
      <a href="/post/{{p.key().id()}}">{{p.subject}}</a>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <div class="post-footer">
    <div class="post-links">
      <form method="post">
        <input type="submit" class="like-btn" value="&#128077; Like">
          {% if p.like == None %}
          0
          {% else %}
            {{p.like}}
          {% endif %}
      | <a href="/edit/{{p.key().id()}}">Edit</a> | <a href="/delete/{{p.key().id()}}">Delete</a> 
      </form>
    </div>
  </div>
</div>