{% extends "base.html" %}

{% block content %}

    <h2>Signup</h2>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username: 
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password: 
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>

        <tr>
          <td class="label">
            Verify Password: 
          </td>
          <td>
            <input type="password" name="verify" value="">
          </td>
        </tr>

        <tr>
          <td class="label">
            Email (optional): 
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
        </tr>
      </table>

      <input type="submit" class="submit">

      <p class="signlog-link"><a href="/login" class="logged-1">Login</a></p>
    </form>

    <div class="error">
      <p>{{error_username}}</p>
      <p>{{error_password}}</p>
      <p>{{error_verify}}</p>
      <p>{{error_email}}</p>
    </div>   

{% endblock %}