{% extends "base.html" %}

{% block content %}

    <h2>Signup</h2>
    <form method="post">
      <div class="formbg">
        <p>Username</p>
        <input type="text" name="username" value="{{username}}"><br>

        <p>Password</p>
        <input type="password" name="password" value=""><br>

        <p>Verify Password</p>
        <input type="password" name="verify" value=""><br>

        <p>Email (optional)</p>
        <input type="text" name="email" value="{{email}}"><br><br>

        <input type="submit" class="submit"><br>
      </div>
    </form>

    <p class="signlog-link" style="text-align: center;">
      <a href="/login" class="logged-1">Login</a>
    </p>

    <div class="error">
      <p>{{error_username}}</p>
      <p>{{error_password}}</p>
      <p>{{error_verify}}</p>
      <p>{{error_email}}</p>
    </div>   

{% endblock %}